# This file will be populated with dependencies.
# Placeholder for now.
# Example:
# streamlit
# torch
# transformers
# pysrt
# moviepy
# pyyaml
pydantic
PyYAML
streamlit
torch
torchaudio
transformers
pysrt
moviepy
pyannote.audio
faster-whisper
# kaggle_secrets  # Hanya diperlukan jika dijalankan di Kaggle
